/* 

font-weight: 100; ----- Thin (Hairline)
font-weight: 200; ----- Extra Light (Ultra Light)
font-weight: 300; ----- Light
font-weight: 400; ----- Normal
font-weight: 500; ----- Medium
font-weight: 600; ----- Semi Bold
font-weight: 700; ----- Bold
font-weight: 800; ----- Extra Bold (Ultra Bold)
font-weight: 900; ----- Black (Heavy)
font-weight: 950; ----- Extra Black (Ultra Black)

*/




/* FONT LITHOS début */
@font-face {
  font-family: 'Titrage';
  src: url('../../fonts/lithospro-bold-webfont.woff2') format('woff2'),
       url('../../fonts/lithospro-bold-webfont.woff') format('woff');
  font-weight: 700; /* bold */
  font-style: normal;
}

@font-face {
  font-family: 'Titrage';
  src: url('../../fonts/lithospro-black-webfont.woff2') format('woff2'),
       url('../../fonts/lithospro-black-webfont.woff') format('woff');
  font-weight: 900; /* black */
  font-style: normal;
}
/* FONT LITHOS fin */


/* FONT OPEN SANS début */
@font-face {
  font-family: 'OpenSans';
  src: url('../../fonts/OpenSans-Light-webfont.woff') format('woff');
  font-weight: 300; /* light */
  font-style: normal;
  
}

@font-face {
  font-family: 'OpenSans';
  src: url('../../fonts/OpenSans-LightItalic-webfont.woff') format('woff');
  font-weight: 300; /* light italic */
  font-style: normal;

}

@font-face {
  font-family: 'OpenSans';
  src: url('../../fonts/OpenSans-Regular-webfont.woff') format('woff');
  font-weight: 400; /* regular */
  font-style: normal;

}

@font-face {
  font-family: 'OpenSans';
  src: url('../../fonts/OpenSans-Semibold-webfont.woff') format('woff');
  font-weight: 600; /* semi bold */
  font-style: normal;

}
/* FONT OPEN SANS fin */




body {
  font-family: 'OpenSans';
  font-weight: 600;
  font-size: 16px }

  
h2 {
  font-family: 'Titrage';
  font-weight: 700;
  font-size: 3rem; 
}