

@media screen and (min-width: 0px) {
    .fixe {
        position : fixed;
        z-index: 0;
    }
    
    .scroll {
        z-index: 1;
        position : relative;
        min-height: 100vh;
    }

    #conteneur-visuel {
        top: 0;
        width: 100%;
        height: 125vw;
        max-height: 100vh;
    }

    #conteneur-vegetal {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100vw;
    }

    #conteneur-vegetal img {
        transform: rotate(90deg);
    }

    #text{
        background-color: black;
    }

    /* --- SVG ZIG ZAG AVEC POINTS */
    /* (si tu as un meilleur nommage mets-le stp */

    #_00_Homepage {
        width: 300px;
    }

    /* --- IMAGE DU CHATEAU */

    #conteneur-illuminations {
        height: 60vw;
        top: 27vw;
    }
    
}/* @media screen and (min-width: $mobile) { */





@media screen and (min-width: 1000px) {
    .fixe {
        height: 100vh;
        width: 50%;
    }

    .scroll {
        left: 40%;
        width: 60%;
    }

    #conteneur-visuel {
        top: 0;
        height: 100vh;
    }

    #conteneur-vegetal {
        position : fixed;
        justify-content: start;
        height: 100%;
    }

    #conteneur-vegetal img {
        height: 100vh;
        transform: rotate(0deg);
    }

    #text{
        position: absolute;
        padding: 20px;
        left: 25%;
        width : 75%;
        z-index : 10;
        background-color: transparent;
    } 

    /* --- SVG ZIG ZAG AVEC POINTS */
    /* (si tu as un meilleur nommage mets-le stp */

    #_00_Homepage {
        width: 500px;
    }

    /* --- IMAGE DU CHATEAU */

    #conteneur-illuminations {
        height: 25vw;
        top: 12vw;
    }

}/* @media screen and (min-width: $desktop) { */
