@media screen and (min-width: 0px) {
   
    /* ---------- ECRAN FIXE        */
    .fixe {
        position : fixed;
        z-index: 0;
    }

    /* --- FANION NOUVEAU */
    .fixe>img {
        position: absolute;
        top: -8vw;
        left: 6.5vw;
        width: 15vw;
    }

    /* VISUEL ROI LION */
    #conteneur-visuel img {
        height: 100%;
        object-fit: cover;
        max-width: 100vw;
    } 


    /* ---------- ECRAN SCROLL       */
    .scroll {
        z-index: 1;
        min-height: 100vh;
    }

    #conteneur-visuel {
        top: 0;
        width: 100%;
        height: 125vw;
        max-height: 100vh;
    }

    /* conteneur vegetal : desktop */
    #conteneur-vegetal {
        display: none;
    }

    /* conteneur vegetal : mobile */
    #conteneur-vegetal90 {
        position: absolute;
        margin-top: 110vw;
        width : 100vw;
        height: 100%;
    }

    #text{
        position: absolute;
        top: 140vw;
        width : 100vw;
        background-color: black;
        padding: 0 15px;
    }

    /* --- SVG MOTIF ZIG ZAG */
    
    #_00_Homepage {
        width: 300px;
    }

    /* --- IMAGE DU CHATEAU */

    #conteneur-illuminations {
        height: 55vw;
        top: 27vw;
    }

    #conteneur-jungle {
        height: 50vw;
    }

    /* --- BALISES TEXTES */

    h1 {
        font-family: 'Titrage';
        font-weight: 700;
        font-size: 1.8rem;
        text-align: center;
        color: var(--blanc);
    }
    
    h2 {
        font-family: 'Titrage';
        font-weight: 700;
        text-align: center;
    }
    
    .h2-blanc {
        color: var(--blanc);
        font-size: 1.3rem;
    }
    
    .h2-jaune {
        color: var(--jaune);
    }

    /* texte : à gagner ! */
    .gagner {
        font-size: 1.5rem;
    }

    /* texte : Une aventure extraroooardinaire ! */
    .aventure {
        font-size: 1rem;
        min-width: 60vw;
    }
    
    h3 {
        font-family: 'Titrage';
        font-weight: 700;
        font-size: 1.2rem;
        text-align: center;
        color: var(--jaune);
    }
      
    h4 {
        font-family: 'Titrage';
        font-weight: 400;
        font-size: 2rem; 
        line-height: 1;
        color: var(--orange);
        margin-top: 40px;
    }
    
    h5 {
        font-family: 'Titrage';
        font-weight: 700;
        font-size: 1.2rem;
        text-align: center;
        color: var(--orange);
    }

    p {
        padding: 20px;
    }
    
    p span {
        color: var(--jaune);
    }
    
    p .italique {
        font-style: italic;
    }


    /* --- BOUTON (réglage texte) */
    button {
        font-family: 'Titrage';
        font-weight: 700;
        font-size: 2rem;
        text-align: center;
    }

    .titre {
        font-size: 1.3rem;
        margin-bottom: 70px;
    }
    
}/* @media screen and (min-width: $mobile) { */





@media screen and (min-width: 64rem) {

    /* ---------- ECRAN FIXE        */
    .fixe {
        height: 100vh;
        width: 50%;
    }

    /* --- FANION NOUVEAU */
    .fixe>img {
    position: absolute;
    top: -55px;
    left: 5vw;
    width: 100px;
    }

    /* --- VISUEL ROI LION */
    #conteneur-visuel img {
        width: 100%;
    } 


    /* ---------- ECRAN SCROLL      */
    .scroll {
        position : relative;
        left: 30%;
        width: 70%;
    }

    #conteneur-visuel {
        top: 0;
        height: 100vh;
    }

    #conteneur-vegetal {
        display: inherit;
        position : fixed;
        margin-left: 170px;
        height: 100%;
    }

    /* conteneur vegetal : desktop */
    #conteneur-vegetal img {
        height: 100vh;
        
    }

    /* conteneur vegetal : mobile */
    #conteneur-vegetal90 {
        display: none;
    }

    #text{
        position: absolute;
        top: 0;
        padding: 20px;
        left: 25%;
        width : 75%;
        z-index : 10;
        background-color: transparent;
    } 

    /* --- IMAGE DU CHATEAU */

    #conteneur-illuminations {
        height: 25vw;
        top: 12vw;
    }

    #conteneur-jungle {
        height: 22vw;
    }

     /* --- BALISES TEXTES */

    h1 {
        font-size: 4rem;
    }

    .h2-blanc {
        font-size: 3rem;
    }
    
    .h2-jaune {
        font-size: 3rem;
    }

    .aventure {
        min-width: 40vw;
    }
    
    h3 {
        font-size: 28px;
    }
      
    h4 {
        font-size: 1.3rem; 
    }
    
    h5 {
        font-size: 1.5rem;
    }

    h5:nth-of-type(even) {
        margin-top: 100px;
    }

}/* @media screen and (min-width: $desktop) { */